.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.log
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
ios/Pods/
ios/.symlinks/
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
DerivedData/
.cocoapods/
